html, body {
    margin: 40px;
    font-family: "Segoe UI";
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

@media (min-width: 1200px)
.container {
    max-width: 1140px;
}

@media (min-width: 992px)
.mb-lg-0 .my-lg-0 {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#appTitle {
    margin-left: 10px;
}